llama-3-8b/model-00001-of-00004.safetensors
llama-3-8b/model-00002-of-00004.safetensors
llama-3-8b/model-00003-of-00004.safetensors
llama-3-8b/model-00004-of-00004.safetensors
llama-3-8b/original/consolidated.00.pth
